@charset "utf-8";
/* CSS Document */
body {font-size:12px;font-family:"微软雅黑" !important;}
html, body, div, span,ul, li, ol, dl, dd, dt, form, h1, h2, h3, h4, h5, h6, p, form ,a ,em ,img{  margin:0;padding:0; list-style:none;border:0 }
i, em, var,h3,h2,h5{ font-style:normal; font-weight:normal; }
a { text-decoration:none;outline:none;}
a:focus {outline:none;-moz-outline:none;}
a img { border:0; }
table { table-layout:fixed; }
.clear { clear:both; height:0; overflow:hidden;}
textarea{resize:none;}
/*初始化end*/
body{background:#E9E7E1;}
.welcome{width:1903px;height:14px;margin:0 auto;background:url(../img/welcom_bg.jpg) repeat-x 0 0;padding:11px 0 13px 0;}
.w_text{float:left;margin:0 0 0 460px;font-size:14px;line-height:14px;}
.w_bar_wrapper{width:201px;height:14px;float:right;margin:0 460px 0 0;}
.w_bar{width:201px;height:14px;clear:both;}
.w_bar span{width:49px;height:14px;float:left;font-size:12px;display:block;}
.w_bar span a{ text-decoration:none;color:#1A1B1B;}
.w_bar span.w_bar_icon{background:url(../img/w_bar_icon.gif) no-repeat 12px 3px;width:27px;height:14px;float:left;display:block;}
.nav_wrapper{width:1903px;height:54px;margin:0 auto;background:#FAFAFA;}
.nav{width:1000px;height:54px;margin:0 auto;clear:both;}
.n_logo{width:193px;height:54px;float:left;}
.n_bar{width:807px;height:54px;float:left;}
.n_bar span{font-size:14px;display:block;float:left;height:54px;line-height:54px;text-align:center;}
.n_bar span a{text-decoration:none;color:#1A1B1B;}
.n_bar span.nbar_home{width:126px;}
.n_bar span.nbar_us{width:128px;}
.n_bar span.nbar_sevices{width:151px;}
.n_bar span.nbar_cases{width:129px;}
.n_bar span.nbar_jions{width:122px;}
.n_bar span.nbar_contact{width:151px ;}
.banner{width:1903px;height:218px;margin:0 auto;clear:both;}
.b_left_img{width:460px;height:218px;float:left;}
.b_center_img{width:1000px;height:218px;float:left;}
.b_right_img{width: 443px;height:218px;float:left;overflow:hidden;}
.b_fix_img{width:1903px;height:8px;background:url(../img/b_fix_img.jpg) no-repeat 0 0;}
.center{width:1000px;height:788px;clear:both;margin:0 auto;clear:both;}
.c_left{width:193px;height:788px;float:left;}
.c_left_bar{width:178px;height:372px;background:url(../img/c_left_bar.jpg) no-repeat 0 0;padding:18px 7px 0 8px;}
.cl_bar_title{width:178px  ;height:18px   ;font-size:16px;line-height:18px;color:#ECECEC;margin:0 0 14px 0;}
.cl_bar_imgflow{width:178px ;height:215px; /*background:url(../img/cl_bar_imgflow.jpg) no-repeat 0 0;*/}
#jfocuspic{width:178px  ;height:133px   ;}
.cl_bif_content{width:178px;height:177px;display:none;overflow:hidden;}
.cl_bif_control{width:178px;height:21px;}
.cl_bif_control ul{width:66px;height:21px;list-style:none;clear:both;margin:0 auto;}
.cl_bif_control ul li{width: 12px  ;height:  21px  ;float:left;margin:0 1px 0 0;background:url(../img/cl_bif_control_a.png) no-repeat 0 0;cursor: pointer;}
/*.cl_bif_control ul li a{background:url(../img/cl_bif_control_a.png) no-repeat 0 0;display:block;width:12px;height:21px;}*/
/*.cl_bif_control ul li a:hover{background:url(../img/cl_bif_control_hover.png) no-repeat 0 0;display:block;width:12px;height:21px;}*/
.cl_bif_control ul li.on{background:url(../img/cl_bif_control_hover.png) no-repeat 0 0;width:12px;height:21px;}
.c_left_bar p.cl_bar_news{width:152px;font-size:12px;color:#DEEDF7;text-align:center;margin:5px 0;}
.c_left_bar p{width:152px;font-size:12px;color:#DEEDF7;text-align:left;margin:0 14px 0 12px;}
.cl_bar_button{width:156px;height:36px;margin:9px 14px 15px 0;}
.c_left_bar p a{ text-decoration:none;color:#EEE8E8;}
.c_right{width:778px;height:788px;float:left;margin:0 0 0 29px;}
.c_right_top{width:778px;height:258px;clear:both;position:relative;}
.cr_top_left{width:123px;height:258px;float:left;color:#9FD8FB;font-size:14px;margin:0 10px 0 0;}
.cr_top_left p{/*width:67px;height:45px;*/width:123px;height:125px;/*background:url(../img/cr_top_p.jpg) no-repeat 0 0;*//*padding:80px 0 0 56px;*/}
.cr_top_left p.cr_top_icon{/*width:67px;height:45px;*/width:123px;height:125px;margin:0 0 8px 0;/*background:url(../img/cr_top_icon.jpg) no-repeat 0 0;*//*padding:80px 0 0 56px;*/}
.cr_top_left p span{font-size:8px;}
.cr_top_left p span.cr_top_text{display:block;margin:0 0 0 -29px;}
.cr_top_right{width:645px;height:258px;float:left;position:relative;overflow:hidden;z-index:10;}
.cr_tr_control{width:100px;height:58px;position:absolute;background:url(../img/cr_tr_control.png) no-repeat 0 0;left:666px;top:-10px; z-index:100;}


.cr_tr_control ul{width:66px;height:21px;list-style:none;clear:both;margin:12px auto;}
.cr_tr_control ul li{width: 12px  ;height:  21px  ;float:left;margin:0 4px 0 0;background:url(../img/cr_tr_control_a.png) no-repeat 0 0;cursor: pointer;}
.cr_tr_control ul li.active{background:url(../img/cr_tr_control_hover.png) no-repeat 0 0;width:12px;height:21px;}


.cr_tr_img{width:645px;height:258px;position:absolute;top:0;left:0;z-index:10;}
.cr_tri_box{/*display:none;*/}

.c_right_center{width:778px;height:265px;clear:both;}
.c_right_center div{width:121px;height:122px;border:solid 1px #CAD9E0;float:left;margin:8px 9px 0 0;}
/*.cr_center_info01{background:url(../img/cr_center_info01.jpg) no-repeat 0 0;}
.cr_center_info02{background:url(../img/cr_center_info02.jpg) no-repeat 0 0;}
.cr_center_info03{background:url(../img/cr_center_info03.jpg) no-repeat 0 0;}
.cr_center_info04{background:url(../img/cr_center_info04.jpg) no-repeat 0 0;}
.cr_center_info05{background:url(../img/cr_center_info05.jpg) no-repeat 0 0;}
.cr_center_info06{background:url(../img/cr_center_info06.jpg) no-repeat 0 0;}*/
div.cr_center_img{border:none;}
div.cr_center_img_fix{float:left;border:none;margin:8px 0 0 0;}
p.cr_center_info{color:#0362A8;font-size:14px;margin:83px 10px 0 9px;text-align:right;}
p.cr_center_info a{ text-decoration:none;color:#0362A8;}
p.cr_center_info span{color:#0362A8;font-size:8px;}
.cr_news{width:645px;height:124px;margin:9px 0 0 133px;clear:both;}
.cr_news_left{width:121px;height:122px;border:solid 1px #CAD9E0;float:left;/*background:url(../img/cr_news_left.jpg) no-repeat 0 0;*/}
.cr_news_right{width:514px;height:124px;float:left;background:#106EB4;margin:0 0 0 8px;}
.cr_nr_info{width:250px;height:124px;float:left;}
.cr_nr_line{width:14px;height:124px;float:left;background:url(../img/cr_nr_line.png) no-repeat 0 0;}
.cr_nr_info p{margin:12px 0 0 14px;}
p.cr_nrinfo_date{color:#70A4EE;font-size:12px;}
p.cr_nrinfo_title{color:#9DCBEB;font-size:13px;margin:12px 0 0 14px;}
p.cr_nrinfo_title a{color:#9DCBEB; text-decoration:none;}
p.cr_nrinfo_title a:hover{color:#9DCBEB; text-decoration:underline;}
p.cr_nrinfo_content{color:#70A4EE;font-size:13px;}
p.cr_nrinfo_content a{color:#70A4EE; text-decoration:none;}
p.cr_nrinfo_content a:hover{color:#70A4EE; text-decoration:underline;}
.cr_morelink{width:514px;height:124px;clear:both;margin:9px 0 0 264px;}
.cr_morelink div{width:123px;height:124px;float:left;margin:0 7px 0 0;}
div.cr_morelink_fix{margin:0 0;}
.foot{width:284px;height:37px;padding:54px 0 124px 716px;margin: 0 auto;}
.foot p{font-size:11px;color:#024D8E;text-align:right;width:284px;}
ul.MenuBarHorizontal a.nav_ul_li:hover{color:#fff; text-decoration:none;background:url(../img/nav_hover.jpg) no-repeat 0 0;}
