.color_f30 {
	COLOR: #f30
}
.color_f30 A {
	COLOR: #f30
}
.btncss_next {
	CURSOR: pointer; FONT-SIZE: 14px; BORDER-TOP: 0px; HEIGHT: 30px; BORDER-RIGHT: 0px; WIDTH: 80px; BACKGROUND: #ff5500; BORDER-BOTTOM: 0px; FONT-WEIGHT: 700; COLOR: #fff; TEXT-ALIGN: center; BORDER-LEFT: 0px; DISPLAY: block; LINE-HEIGHT: 30px
}
.btncss_next:hover {
	COLOR: #fff
}
.core_blank8 {
	OVERFLOW: hidden; HEIGHT: 8px; CLEAR: both
}
.core_blank16 {
	OVERFLOW: hidden; HEIGHT: 16px; CLEAR: both
}
.core_blank32 {
	OVERFLOW: hidden; HEIGHT: 32px; CLEAR: both
}
.clear_both {
	CLEAR: both
}
.correlative_name {
	COLOR: #26598e
}
.correlative_name A {
	COLOR: #26598e
}
.correlative_list {
	MARGIN-RIGHT: 25px
}
.Product_WareSmall {
	HEIGHT: 69px; WIDTH: 67px; BACKGROUND: url(../images/process/b_g.gif) no-repeat 0px 0px; FLOAT: left; PADDING-BOTTOM: 2px; TEXT-ALIGN: left; PADDING-TOP: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 7px
}
.Product_WareSmall LI {
	OVERFLOW: hidden; HEIGHT: 62px; WIDTH: 60px; DISPLAY: block
}
.Product_WareSmall_1 {
	HEIGHT: 69px; WIDTH: 67px; BACKGROUND: url(../images/process/b_g.gif) no-repeat -90px 0px; FLOAT: left; PADDING-BOTTOM: 2px; TEXT-ALIGN: left; PADDING-TOP: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 7px
}
.Product_WareSmall_1 LI {
	OVERFLOW: hidden; HEIGHT: 62px; WIDTH: 60px; DISPLAY: block
}
.brand_list2 {
	WIDTH: 145px; TEXT-ALIGN: center; MARGIN-TOP: 12px
}
.pagination {
	FLOAT: right; MARGIN-RIGHT: 100px
}
.pagination .page-skip {
	OVERFLOW: hidden; FONT-SIZE: 13px; HEIGHT: 28px; FONT-FAMILY: Arial, SimSun; WIDTH: 200px; VERTICAL-ALIGN: middle; WHITE-SPACE: nowrap; FLOAT: left; COLOR: #999; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 3px; MARGIN-TOP: -2px; LINE-HEIGHT: 26px; PADDING-RIGHT: 3px; MARGIN-RIGHT: 3px
}
.pagination SPAN {
	HEIGHT: 21px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; DISPLAY: block; PADDING-RIGHT: 5px
}
.pagination SPAN.page-cur {
	BORDER-TOP: #ff5400 1px solid; HEIGHT: 18px; BORDER-RIGHT: #ff5400 1px solid; BACKGROUND: white; BORDER-BOTTOM: #ff5400 1px solid; FONT-WEIGHT: bold; COLOR: #ff5400; TEXT-ALIGN: center; BORDER-LEFT: #ff5400 1px solid; MARGIN-TOP: 2px; LINE-HEIGHT: 18px; MARGIN-RIGHT: 3px
}
.pagination A {
	BORDER-TOP: #c6c6c6 1px solid; HEIGHT: 21px; BORDER-RIGHT: #c6c6c6 1px solid; BACKGROUND: white; BORDER-BOTTOM: #c6c6c6 1px solid; FLOAT: left; COLOR: #333; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 3px; BORDER-LEFT: #c6c6c6 1px solid; DISPLAY: block; LINE-HEIGHT: 21px; PADDING-RIGHT: 3px; MARGIN-RIGHT: 3px
}
.pagination A:hover {
	TEXT-DECORATION: none; BORDER-TOP: #ff5400 1px solid; BORDER-RIGHT: #ff5400 1px solid; BACKGROUND: white; BORDER-BOTTOM: #ff5400 1px solid; COLOR: #ff5400; TEXT-ALIGN: center; BORDER-LEFT: #ff5400 1px solid
}
.pagination A.page-prev {
	HEIGHT: 21px; BACKGROUND: url(../images/process/icons.gif) white no-repeat 4px -235px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; DISPLAY: block; PADDING-RIGHT: 3px
}
.pagination A.page-next {
	HEIGHT: 21px; BACKGROUND: url(../images/process/icons.gif) white no-repeat right -248px; FLOAT: left; FONT-WEIGHT: normal; PADDING-RIGHT: 12px
}
.pagination .text {
	BORDER-TOP: #a7a6aa 1px solid; HEIGHT: 16px; BORDER-RIGHT: #a7a6aa 1px solid; WIDTH: 25px; BACKGROUND: url(../images/process/input-bg.png) white no-repeat 0px 0px; BORDER-BOTTOM: #a7a6aa 1px solid; COLOR: #333; PADDING-LEFT: 2px; MARGIN: 0px 3px; BORDER-LEFT: #a7a6aa 1px solid; DISPLAY: inline; LINE-HEIGHT: 16px
}
.pagination .button {
	CURSOR: pointer; BORDER-TOP: medium none; HEIGHT: 22px; BORDER-RIGHT: medium none; WIDTH: 52px; BACKGROUND: url(../img/icons.gif) no-repeat right -290px; BORDER-BOTTOM: medium none; MARGIN: 0px 5px; BORDER-LEFT: medium none; LINE-HEIGHT: 22px
}
.choose_pro_tab {
	COLOR: #1f1f1f; PADDING-BOTTOM: 5px
}
.choose_pro_tab UL {
	
}
.choose_pro_tab DL {
	OVERFLOW: hidden; WIDTH: 1088px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 0px; DISPLAY: block; LINE-HEIGHT: 22px; PADDING-RIGHT: 0px
}
.choose_pro_tab DL DT {
	FLOAT: left
}
.choose_pro_tab DL .all {
	FLOAT: left
}
.choose_pro_tab DL .selection {
	FLOAT: left
}
.choose_pro_tab DL DT {
	OVERFLOW: hidden; WIDTH: 90px; TEXT-ALIGN: right
}
.choose_pro_tab .all {
	OVERFLOW: hidden; WIDTH: 45px
}
.choose_pro_tab DL .selection {
	HEIGHT: 100%; WIDTH: 580px
}
.choose_pro_tab A {
	MARGIN-BOTTOM: 2px; HEIGHT: 22px; WHITE-SPACE: nowrap; FLOAT: left; COLOR: #185aa8; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; DISPLAY: block; LINE-HEIGHT: 22px; PADDING-RIGHT: 5px; MARGIN-RIGHT: 15px
}
.choose_pro_tab .cate_search_selectcss {
	BACKGROUND: #cc0000; COLOR: #ffffff
}
.choose_pro_tab .cate_search_selectcss:hover {
	BACKGROUND: #cc0000; COLOR: #ffffff
}
.subcate_saixuan_t {
	HEIGHT: 32px; WIDTH: 766px; BACKGROUND: url(../images/process/main/subcate_saixuan.jpg) no-repeat; POSITION: relative; MARGIN-TOP: 5px
}
.subcate_saixuan_t SPAN {
	FONT-SIZE: 14px; POSITION: absolute; FONT-WEIGHT: 700; COLOR: #3d7514; LEFT: 30px; TOP: 5px
}
.subcate_saixuan_c {
	BORDER-TOP: medium none; BORDER-RIGHT: #b2ce91 1px solid; BORDER-BOTTOM: #b2ce91 1px solid; PADDING-BOTTOM: 15px; PADDING-TOP: 4px; PADDING-LEFT: 12px; BORDER-LEFT: #b2ce91 1px solid; PADDING-RIGHT: 12px
}
.AccreditLogin {
	HEIGHT: 500px; WIDTH: 960px; CLEAR: both; MARGIN: 20px auto auto
}
.AccreditLeft {
	WIDTH: 450px; FLOAT: left
}
.AccreditLeft .LeftTop {
	HEIGHT: 96px; WIDTH: 450px; BACKGROUND: url(../images/process/arcloginbg.gif) no-repeat 0px 0px
}
.AccreditLeft .LeftBottom {
	BORDER-TOP: 0px; HEIGHT: 380px; BORDER-RIGHT: 0px; WIDTH: 450px; BORDER-BOTTOM: 1px solid; POSITION: relative; BORDER-LEFT: 1px solid
}
.AccreditLeft .LeftBottom .logobg {
	HEIGHT: 293px; WIDTH: 294px; BACKGROUND: url(../images/process/logobg.gif) no-repeat 0px 0px; POSITION: absolute; LEFT: 83px
}
.AccreditLeft .LeftBottom .logobg .logo {
	OVERFLOW: hidden; HEIGHT: 174px; WIDTH: 174px; POSITION: absolute; TEXT-ALIGN: center; LEFT: 60px; TOP: 50px
}
.AccreditLeft .LeftBottom .logobg .logotext {
	FONT-SIZE: 14px; WIDTH: 290px; POSITION: absolute; FONT-WEIGHT: 700; COLOR: white; TEXT-ALIGN: center; BOTTOM: 15px
}
.AccreditRight {
	BORDER-TOP: 1px solid; HEIGHT: 475px; BORDER-RIGHT: 1px solid; WIDTH: 500px; BORDER-BOTTOM: 1px solid; FLOAT: left; BORDER-LEFT: 0px
}
.AccreditRight .AcrreditForm {
	BORDER-TOP: #e5e5e5 1px solid; HEIGHT: 443px; BORDER-RIGHT: #e5e5e5 1px solid; BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; MARGIN-TOP: 15px; MARGIN-RIGHT: 15px
}
.AccreditRight .AcrreditForm .FormClew {
	OVERFLOW: hidden; FONT-SIZE: 14px; BORDER-TOP: #ffd9b4 1px solid; BORDER-RIGHT: #ffd9b4 1px solid; BACKGROUND: #ffffe5 0px 0px; BORDER-BOTTOM: #ffd9b4 1px solid; FONT-WEIGHT: 700; COLOR: #4b4b49; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 7px; MARGIN: 25px 20px 0px; BORDER-LEFT: #ffd9b4 1px solid; PADDING-RIGHT: 7px
}
.AccreditRight .AcrreditForm .FormClew SPAN {
	FLOAT: left; DISPLAY: block; LINE-HEIGHT: 28px; MARGIN-RIGHT: 30px
}
.AccreditRight .AcrreditForm .FormClew2 {
	FONT-SIZE: 12px; COLOR: #9a9a9a; MARGIN: 10px 0px 15px 20px
}
.AccreditRight .AcrreditForm .FormStart {
	OVERFLOW: hidden; MARGIN: 0px 20px
}
.AccreditRight .AcrreditForm .FormStart TD {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.AccreditRight .AcrreditForm .FormStart .inputcss {
	BORDER-TOP: #cccccc 1px solid; HEIGHT: 22px; BORDER-RIGHT: #cccccc 1px solid; WIDTH: 150px; BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
.core_review {
	OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; _height: 1%
}
.core_review UL {
	HEIGHT: 32px; WIDTH: 753px; BACKGROUND: url(../img/details2_lbg.jpg) repeat-x; PADDING-LEFT: 13px
}
.core_review LI.core_reviewli {
	CURSOR: pointer; FONT-SIZE: 12px; HEIGHT: 26px; WIDTH: 88px; BACKGROUND: url(../img/details2_tbg2.jpg) no-repeat; FLOAT: left; COLOR: #2f2f2f; TEXT-ALIGN: center; MARGIN-TOP: 6px; LINE-HEIGHT: 26px; MARGIN-RIGHT: 3px
}
.core_review LI.core_reviewon {
	FONT-SIZE: 14px; WIDTH: 100px; BACKGROUND: url(../img/details2_tbg1.jpg) no-repeat; FONT-WEIGHT: 700
}
.core_productbox {
	OVERFLOW: hidden; BORDER-TOP: 0px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 726px; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 20px; BORDER-LEFT: #ccc 1px solid; PADDING-RIGHT: 20px
}
.core_productbox_none {
	DISPLAY: none
}
.core_review_xg {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 32px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 753px; BACKGROUND: url(../images/m18/details2_lbg.jpg) repeat-x; BORDER-BOTTOM: 0px; PADDING-LEFT: 13px; BORDER-LEFT: #ccc 1px solid
}
.core_reviewli_xg_reviewon {
	CURSOR: pointer; FONT-SIZE: 12px; HEIGHT: 26px; WIDTH: 100px; BACKGROUND: url(../images/m18/details2_tbg1.jpg) no-repeat; FLOAT: left; COLOR: #2f2f2f; TEXT-ALIGN: center; MARGIN-TOP: 6px; LINE-HEIGHT: 26px; MARGIN-RIGHT: 3px
}
.core_productbox_xg {
	OVERFLOW: hidden; BORDER-TOP: 0px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 726px; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 20px; BORDER-LEFT: #ccc 1px solid; PADDING-RIGHT: 20px
}
.core_productbox_xg LI {
	LIST-STYLE-TYPE: none; OVERFLOW: hidden; WIDTH: 140px; FLOAT: left; LIST-STYLE-IMAGE: none; MARGIN-RIGHT: 5px
}
.article_relative UL LI {
	WIDTH: 180px; FLOAT: left; MARGIN-TOP: 10px; MARGIN-RIGHT: 10px
}
.article_relativeimg {
	OVERFLOW: hidden; HEIGHT: 160px; TEXT-ALIGN: center; MARGIN: 0px auto
}
.article_relative_txt {
	WIDTH: 160px; MARGIN: 5px auto 0px
}
.choose_pro_tab .cate_search_allclass:hover {
	TEXT-DECORATION: none; COLOR: #fff
}
.core_productbox_xg_pic {
	BORDER-TOP: #e6e6e6 1px solid; HEIGHT: 100px; BORDER-RIGHT: #e6e6e6 1px solid; WIDTH: 100px; BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-LEFT: 5px; MARGIN: 0px auto; BORDER-LEFT: #e6e6e6 1px solid; PADDING-RIGHT: 5px
}
.core_productbox_xg_name {
	OVERFLOW: hidden; HEIGHT: 40px; WIDTH: 120px; WORD-BREAK: break-all; TEXT-ALIGN: center; MARGIN: 5px auto 0px; LINE-HEIGHT: 20px
}
.core_productbox_xg_name A {
	COLOR: #555
}
.a {
	HEIGHT: auto; WIDTH: 146px; FLOAT: left; MARGIN-TOP: 90px
}
.a DIV {
	FLOAT: left
}
.b {
	HEIGHT: 46px; WIDTH: 146px; BACKGROUND: url(../images/process/kf.gif) no-repeat 0px -4px
}
.c {
	LIST-STYLE-TYPE: none; WIDTH: 146px; BACKGROUND: url(../images/process/KF_12.gif) repeat-y
}
.d {
	HEIGHT: 6px; WIDTH: 146px; BACKGROUND: url(../images/process/kf.gif) no-repeat 0px -204px; _background: url(../images/process/kf.gif) no-repeat 0px -200px
}
.e {
	HEIGHT: 161px; WIDTH: 26px; BACKGROUND: url(../images/process/kf.gif) no-repeat 0px -215px; FLOAT: left; MARGIN-TOP: 90px
}
.closekf {
	CURSOR: pointer; WIDTH: 138px; TEXT-ALIGN: center; PADDING-LEFT: 8px; CLEAR: both; MARGIN-TOP: 7px
}
.main UL SPAN BR {
	DISPLAY: none
}
.jqZoomPup {
	BORDER-TOP-STYLE: solid; OVERFLOW: hidden; CURSOR: move; BORDER-TOP-COLOR: #cfcfcf; BACKGROUND: url(../images/process/move.png); BORDER-BOTTOM-STYLE: solid; BORDER-LEFT-COLOR: #cfcfcf; BORDER-BOTTOM-COLOR: #cfcfcf; BORDER-RIGHT-STYLE: solid; FILTER: alpha(opacity = 60); Z-INDEX: 10; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #cfcfcf; -moz-opacity: 0.6; opacity: 0.6
}
.preload {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 45px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 80px; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: no-repeat; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BACKGROUND-POSITION: 43px 30px; PADDING-BOTTOM: 8px; TEXT-ALIGN: center; PADDING-TOP: 8px; PADDING-LEFT: 8px; LEFT: 3px; FILTER: alpha(opacity = 80); BORDER-LEFT: #ccc 1px solid; Z-INDEX: 500; TOP: 3px; PADDING-RIGHT: 8px; BACKGROUND-COLOR: white; -moz-opacity: 0.8; opacity: 0.8
}
.jqZoomWindow {
	BORDER-TOP: #e2e2e2 1px solid; BORDER-RIGHT: #e2e2e2 1px solid; BORDER-BOTTOM: #e2e2e2 1px solid; BORDER-LEFT: #e2e2e2 1px solid; BACKGROUND-COLOR: #fff
}
.Product_WareFun {
	OVERFLOW: hidden; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; WIDTH: 406px; BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 1px; PADDING-LEFT: 1px; MARGIN: 10px 0px 0px; BORDER-LEFT: #e6e6e6 1px solid; PADDING-RIGHT: 1px
}
.Product_tg_qg {
	COLOR: #454545; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.Product_tg_ul {
	WIDTH: 400px; COLOR: #454545
}
.Product_tg_ul LI {
	WIDTH: 120px; FLOAT: left; MARGIN-LEFT: 10px
}
.Product_tg_qr {
	LIST-STYLE-TYPE: none; HEIGHT: 12px; WIDTH: 75px; FLOAT: right; COLOR: #454545; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-RIGHT: 0px
}
.Product_WareFun_bg {
	BACKGROUND: #f7f7f7; COLOR: #454545; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.Product_WareFun_bg LI {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.Product_WareFun_bg A INPUT {
	CURSOR: pointer; FONT-SIZE: 14px; BORDER-TOP: medium none; HEIGHT: 33px; BORDER-RIGHT: medium none; WIDTH: 140px; BACKGROUND: url(../images/process/submitGift.gif) no-repeat 0px 0px; BORDER-BOTTOM: medium none; FLOAT: left; FONT-WEIGHT: bold; COLOR: #fff; BORDER-LEFT: medium none; LINE-HEIGHT: 33px
}
.Product_WareFun_bg A:hover INPUT {
	COLOR: #feffa7
}
.Product_input {
	BORDER-TOP: #859ab9 1px solid; HEIGHT: 16px; BORDER-RIGHT: #859ab9 1px solid; BORDER-BOTTOM: #859ab9 1px solid; BORDER-LEFT: #859ab9 1px solid
}
.Product_input1 {
	BORDER-TOP: #859ab9 1px solid; HEIGHT: 16px; BORDER-RIGHT: #859ab9 1px solid; BORDER-BOTTOM: #859ab9 1px solid; BORDER-LEFT: #859ab9 1px solid
}
.tuangou_details_info_k .SKURowClass DL {
	WIDTH: 260px; FLOAT: left
}
.SKURowClass DL {
	WIDTH: 280px; FLOAT: left
}
.SKURowClass DL DD INPUT {
	MARGIN-BOTTOM: 2px
}
.tuangou_details_info_k .Product_WareFun_bg {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.tuangou_details_info_k .SKURowClass {
	MARGIN-BOTTOM: 5px; WIDTH: 330px; CLEAR: both; DISPLAY: inline-block
}
.tuangou_details_info_k .SKUShowSelectClass {
	MARGIN-BOTTOM: 5px; WIDTH: 330px; CLEAR: both; DISPLAY: inline-block
}
INPUT.SKUValueClass:hover {
	BORDER-TOP: #c30008 1px solid; BORDER-RIGHT: #c30008 1px solid; BORDER-BOTTOM: #c30008 1px solid; BORDER-LEFT: #c30008 1px solid
}
.Product_WareFun TD {
	LINE-HEIGHT: 35px
}
.Product_WareFun:hover {
	BORDER-TOP: #fcbb29 1px solid; BORDER-RIGHT: #fcbb29 1px solid; BORDER-BOTTOM: #fcbb29 1px solid; BORDER-LEFT: #fcbb29 1px solid
}
.SKURowClass SPAN {
	FLOAT: left; DISPLAY: block
}
.SKURowClass {
	MARGIN-BOTTOM: 5px; WIDTH: 370px; CLEAR: both; DISPLAY: inline-block
}
.SKUShowSelectClass {
	MARGIN-BOTTOM: 5px; WIDTH: 370px; CLEAR: both; DISPLAY: inline-block
}
.SKUShowSelectClass {
	COLOR: green
}
.SKUValueClass {
	BORDER-TOP: #c8c9cd 1px double; HEIGHT: 25px; BORDER-RIGHT: #c8c9cd 1px double; BACKGROUND: #fff; BORDER-BOTTOM: #c8c9cd 1px double; FLOAT: left; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 10px; BORDER-LEFT: #c8c9cd 1px double; DISPLAY: block; LINE-HEIGHT: 25px; PADDING-RIGHT: 10px; MARGIN-RIGHT: 10px
}
.Product_WareFun TABLE A:hover {
	TEXT-DECORATION: none; BORDER-TOP: #ff6701 1px solid; BORDER-RIGHT: #ff6701 1px solid; BORDER-BOTTOM: #ff6701 1px solid; BORDER-LEFT: #ff6701 1px solid
}
.SKUSelectValueClass {
	TEXT-DECORATION: none; BORDER-TOP: #ff6701 1px solid; HEIGHT: 25px; BORDER-RIGHT: #ff6701 1px solid; BACKGROUND: url(../images/process/decorate_v3.gif) #fff no-repeat right bottom; BORDER-BOTTOM: #ff6701 1px solid; FLOAT: left; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 10px; BORDER-LEFT: #ff6701 1px solid; DISPLAY: block; LINE-HEIGHT: 25px; PADDING-RIGHT: 10px; MARGIN-RIGHT: 10px
}
.Product_WareFun_input {
	BORDER-TOP: #c8c9cd 1px solid; HEIGHT: 25px; BORDER-RIGHT: #c8c9cd 1px solid; WIDTH: 56px; BORDER-BOTTOM: #c8c9cd 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c8c9cd 1px solid; LINE-HEIGHT: 25px
}
.Product_btn_gm {
	CURSOR: pointer; HEIGHT: 37px; WIDTH: 120px; BACKGROUND: url(../images/process/btn-fastbuy.gif) no-repeat; MARGIN-TOP: 12px; DISPLAY: block; LINE-HEIGHT: 16px
}
.Product_btn_add {
	CURSOR: pointer; HEIGHT: 37px; WIDTH: 120px; BACKGROUND: url(../images/process/btn-fastbuy.gif) no-repeat; MARGIN-TOP: 12px; DISPLAY: block; LINE-HEIGHT: 16px
}
.Product_btn_add {
	BACKGROUND: url(../images/process/btn-buy.gif) no-repeat
}
.groupbuyproduct_btn {
	CURSOR: pointer; HEIGHT: 42px; WIDTH: 155px; BACKGROUND: url(../images/process/background.gif) no-repeat -177px -998px; FLOAT: left; MARGIN: 10px 10px 10px 0px; DISPLAY: block
}
.Product_btn_sc {
	WIDTH: 75px; BACKGROUND: url(../images/process/btn_ginfo_links.gif) no-repeat; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 18px; MARGIN-TOP: 20px; DISPLAY: block; PADDING-RIGHT: 0px
}
.Zhixun {
	FONT-FAMILY: Arial, Helvetica, sans-serif; WIDTH: 720px
}
.Zhixun TABLE {
	WIDTH: 100%
}
.Zhixun TD {
	
}
.Zhixun SPAN {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; DISPLAY: block; PADDING-RIGHT: 20px
}
.details_plzx {
	OVERFLOW: hidden; BORDER-TOP: #e5e5e5 1px solid; WIDTH: 720px; PADDING-TOP: 10px; MARGIN-TOP: 5px
}
.details_plzx2 {
	OVERFLOW: hidden; BORDER-TOP: #e5e5e5 1px solid; WIDTH: 900px; PADDING-TOP: 10px; MARGIN-TOP: 5px
}
.Product_a {
	TEXT-DECORATION: none; HEIGHT: 28px; WIDTH: 65px; BACKGROUND: url(../images/process/pd_10.gif) no-repeat; FLOAT: right; COLOR: #0246a1; PADDING-LEFT: 35px; MARGIN-LEFT: 20px; DISPLAY: block; LINE-HEIGHT: 28px
}
.Product_b {
	TEXT-DECORATION: none; HEIGHT: 28px; WIDTH: 65px; BACKGROUND: url(../images/process/pd_10.gif) no-repeat; FLOAT: right; COLOR: #0246a1; PADDING-LEFT: 35px; MARGIN-LEFT: 20px; DISPLAY: block; LINE-HEIGHT: 28px
}
.Product_b {
	WIDTH: 125px; BACKGROUND: url(../images/process/pd_100.gif) no-repeat
}
.YaHei {
	FONT-FAMILY: "Microsoft YaHei", "ËÎÌו"
}
.logindiv {
	HEIGHT: 430px; WIDTH: 980px; POSITION: relative; MARGIN: 60px auto
}
.h1css {
	HEIGHT: 15px; WIDTH: 123px; POSITION: absolute; LEFT: 200px; TOP: 50px
}
.logleftpic {
	HEIGHT: 201px; WIDTH: 123px; BACKGROUND: url(../images/process/youpin_01.png) no-repeat; POSITION: absolute; LEFT: -90px; TOP: 27px
}
.logtable {
	HEIGHT: 600px; WIDTH: 300px; POSITION: absolute; LEFT: 43px; TOP: 35px
}
.logrightpic {
	HEIGHT: 270px; WIDTH: 310px; BACKGROUND: url(../images/process/youpin_02.png) no-repeat; POSITION: absolute; LEFT: 441px; TOP: 27px
}
.loginimg {
	HEIGHT: 430px; WIDTH: 628px; FLOAT: left
}
.errorms {
	POSITION: absolute; LEFT: 250px; TOP: 123px
}
.logingfome {
	HEIGHT: 398px; WIDTH: 600px; RIGHT: 5px; POSITION: absolute; PADDING-BOTTOM: 43px; PADDING-TOP: 43px; PADDING-LEFT: 20px; LEFT: 0px; MARGIN: 70px 262px; TOP: -5px; PADDING-RIGHT: 20px; _width: 500px; _margin: 800px
}
.logingfome H1 {
	PADDING-BOTTOM: 18px; TEXT-ALIGN: center; FONT: 24px/28px "Microsoft YaHei"
}
.logingfome .inputbj {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 25px; BORDER-RIGHT: #ddd 1px solid; BACKGROUND: url(../images/process/inputbj.gif) no-repeat; BORDER-BOTTOM: #ddd 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 25px
}
.fomeinput .inputbj {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 25px; BORDER-RIGHT: #ddd 1px solid; BACKGROUND: url(../images/process/inputbj.gif) no-repeat; BORDER-BOTTOM: #ddd 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 25px
}
.logingfome .btncss {
	CURSOR: pointer; FONT-SIZE: 14px; BORDER-TOP: 0px; HEIGHT: 30px; BORDER-RIGHT: 0px; WIDTH: 180px; BACKGROUND: url(../images/process/button y_03.jpg) no-repeat; BORDER-BOTTOM: 0px; FONT-WEIGHT: 700; COLOR: #fff; TEXT-ALIGN: center; BORDER-LEFT: 0px; MARGIN-TOP: 10px; LINE-HEIGHT: 33px
}
.fomeinput .btncss {
	CURSOR: pointer; FONT-SIZE: 14px; BORDER-TOP: 0px; HEIGHT: 30px; BORDER-RIGHT: 0px; WIDTH: 180px; BACKGROUND: url(../images/process/button y_03.jpg) no-repeat; BORDER-BOTTOM: 0px; FONT-WEIGHT: 700; COLOR: #fff; TEXT-ALIGN: center; BORDER-LEFT: 0px; MARGIN-TOP: 10px; LINE-HEIGHT: 33px
}
.logingfome .btncss {
	HEIGHT: 48px; WIDTH: 70px; BACKGROUND: url(../images/process/button y_02.jpg) no-repeat; MARGIN-LEFT: 10px; MARGIN-TOP: 0px; DISPLAY: inline-block
}
.logingfome TABLE {
	FONT-SIZE: 14px; COLOR: #666; MARGIN-TOP: 60px; _margin-top: 60px
}
.logingfome TABLE A {
	FONT-SIZE: 12px; COLOR: #666; MARGIN: 0px 0px 0px 19px; LINE-HEIGHT: 33px
}
.logingfome TABLE A:hover {
	COLOR: #ee0000
}
.regis {
	BORDER-TOP: #639206 3px solid; HEIGHT: 80px; BORDER-RIGHT: #639206 3px solid; WIDTH: 578px; BORDER-BOTTOM: #639206 3px solid; POSITION: absolute; COLOR: #777; PADDING-BOTTOM: 26px; PADDING-TOP: 26px; PADDING-LEFT: 0px; MARGIN-LEFT: 221px; BORDER-LEFT: #639206 3px solid; MARGIN-TOP: 281px; PADDING-RIGHT: 0px
}
.regis A {
	COLOR: #c10000
}
.regis SPAN {
	FONT-SIZE: 24px; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; DISPLAY: block; LINE-HEIGHT: 24px
}
.qqalipay {
	
}
.qqalipay SPAN {
	DISPLAY: block
}
.trationbj {
	HEIGHT: 500px; WIDTH: 980px; POSITION: relative; MARGIN: 20px auto
}
.tration {
	BORDER-TOP: #639206 3px solid; HEIGHT: 520px; BORDER-RIGHT: #639206 3px solid; WIDTH: 932px; BACKGROUND: #fff; RIGHT: 4px; BORDER-BOTTOM: #639206 3px solid; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; BORDER-LEFT: #639206 3px solid; TOP: -6px; PADDING-RIGHT: 20px
}
.line01 {
	HEIGHT: 298px; WIDTH: 2px; BACKGROUND: url(../images/process/line_02.jpg) no-repeat; POSITION: absolute; LEFT: 628px; TOP: 115px
}
.line02 {
	HEIGHT: 175px; WIDTH: 295px; POSITION: absolute; LEFT: 644px; TOP: 115px
}
.line012 {
	HEIGHT: 455px; WIDTH: 2px; BACKGROUND: url(../images/process/line_02.jpg) no-repeat; POSITION: absolute; LEFT: 628px; TOP: 115px
}
.pic01 {
	HEIGHT: 175px; WIDTH: 295px; POSITION: absolute; LEFT: 656px; TOP: 321px
}
.pic02 {
	HEIGHT: 175px; WIDTH: 295px; POSITION: absolute; LEFT: 656px; TOP: 445px
}
.line02 A {
	COLOR: #c10000
}
.tration H1 {
	FONT-SIZE: 24px; FONT-WEIGHT: normal; PADDING-BOTTOM: 18px; PADDING-TOP: 18px; PADDING-LEFT: 0px; MARGIN-LEFT: 77px; PADDING-RIGHT: 0px
}
.fomeinput {
	FONT-SIZE: 14px; WIDTH: 540px; COLOR: #666; PADDING-TOP: 6px; MARGIN-LEFT: 35px
}
.fomeinput TABLE TD {
	HEIGHT: 44px; _height: 44px
}
.fomeinput TABLE A {
	FONT-SIZE: 12px; COLOR: #ee0000
}
.fomeinput TABLE A.txtNumberCheck {
	FLOAT: right; MARGIN: 0px 18px 0px 0px; DISPLAY: block
}
.fomeinput TABLE LI {
	FONT-SIZE: 12px; DISPLAY: block; LINE-HEIGHT: 30px
}
.fomeinput .dotted {
	BORDER-BOTTOM: #ddd 1px dotted; PADDING-BOTTOM: 10px
}
.register_btn {
	WIDTH: 180px; TEXT-ALIGN: center
}
.register_btn2 {
	WIDTH: 80px; TEXT-ALIGN: center
}
.register_save_ts {
	HEIGHT: 24px; COLOR: #666; PADDING-TOP: 8px; LINE-HEIGHT: 24px
}
.register_save_ts A {
	COLOR: #cc0000
}
.trationbj2 {
	HEIGHT: 711px; WIDTH: 980px; POSITION: relative; MARGIN: 20px auto
}
.tration2 {
	BORDER-TOP: #639206 3px solid; HEIGHT: 710px; BORDER-RIGHT: #639206 3px solid; WIDTH: 932px; BACKGROUND: #fff; RIGHT: 4px; BORDER-BOTTOM: #639206 3px solid; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; BORDER-LEFT: #639206 3px solid; TOP: -6px; PADDING-RIGHT: 20px
}
.registeragreement {
	OVERFLOW: hidden; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; WIDTH: 930px; BORDER-BOTTOM: #cccccc 1px solid; MARGIN: 0px auto; BORDER-LEFT: #cccccc 1px solid
}
.registeragreement_c {
	OVERFLOW: hidden; WIDTH: 890px; COLOR: #666; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 20px; MARGIN: 0px auto; LINE-HEIGHT: 30px; PADDING-RIGHT: 20px
}
.RegisterAgreement_tit {
	FONT-SIZE: 14px; HEIGHT: 40px; BACKGROUND: #f5f5f5; BORDER-BOTTOM: #e4e4e4 1px solid; FONT-WEIGHT: bold; COLOR: #666; TEXT-ALIGN: center; LINE-HEIGHT: 40px
}
.registeragreement_back {
	TEXT-ALIGN: right
}
.registeragreement_back A {
	COLOR: #cc1100
}
.tqj {
	OVERFLOW: hidden; HEIGHT: 15px; CLEAR: both
}
UL.divtitle {
	POSITION: relative; FLOAT: left; LEFT: 50%
}
.divtitle UL {
	OVERFLOW: hidden; DISPLAY: block
}
.divtitle LI {
	RIGHT: 50%; POSITION: relative; FLOAT: left
}
.tainer {
	OVERFLOW: hidden; BORDER-TOP: #dbdbdb 1px solid; WIDTH: 978px; CLEAR: both; BORDER-LEFT: #dbdbdb 1px solid
}
.tainer TABLE {
	HEIGHT: 300px; BORDER-RIGHT: #dbdbdb 1px solid; WIDTH: 487px; BORDER-BOTTOM: #dbdbdb 1px solid; FLOAT: left
}
.tainer TABLE B {
	FONT-SIZE: 14px; COLOR: #666; PADDING-BOTTOM: 15px; DISPLAY: block; LINE-HEIGHT: 20px; PADDING-RIGHT: 5px
}
.tainer TABLE STRONG {
	MARGIN-RIGHT: 5px
}
.tainer TABLE DIV {
	FONT-SIZE: 14px; COLOR: #666
}
.tainer TABLE DIV SAMP {
	FONT-SIZE: 24px; FONT-FAMILY: "Microsoft YaHei"; FONT-WEIGHT: 700
}
.tainer TABLE .colo {
	COLOR: #e00000
}
.tainer TABLE .btpi {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.tainer TABLE .sjbj {
	BACKGROUND: url(../images/process/sjbj.gif) no-repeat 0px 3px; PADDING-LEFT: 20px
}
.articleshelp {
	COLOR: #545454
}
.articleshelp A {
	COLOR: #545454
}
.articleshelp .cssleft {
	WIDTH: 182px; FLOAT: left; MARGIN-LEFT: 100px
}
.articleshelp .cssleft H6 {
	PADDING-BOTTOM: 8px
}
.articleshelp .cssleft H4 {
	FONT-SIZE: 14px; HEIGHT: 39px; WIDTH: 152px; BACKGROUND: url(../images/process/helps_l_bg.jpg) repeat-x 50% bottom; FONT-WEIGHT: 700; COLOR: #333333; PADDING-LEFT: 10px; MARGIN: 0px auto; LINE-HEIGHT: 39px
}
.articleshelp .cssleft LI {
	PADDING-LEFT: 20px; LINE-HEIGHT: 28px
}
.articleshelp .cssleft LI.d_select {
	BACKGROUND: #ab1607; COLOR: #fff
}
.articleshelp .cssleft LI.d_select A {
	COLOR: #fff
}
.articleshelp .cssleft .csslist {
	BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; BACKGROUND: #f5f5f5; BORDER-BOTTOM: #e5e5e5 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #e5e5e5 1px solid; PADDING-RIGHT: 10px
}
.articleshelp .cssleft .csslist2 {
	BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; BACKGROUND: #f5f5f5; BORDER-BOTTOM: #e5e5e5 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #e5e5e5 1px solid; PADDING-RIGHT: 0px
}
.articleshelp .cssright {
	BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; WIDTH: 788px; BORDER-BOTTOM: #e5e5e5 1px solid; FLOAT: left; MARGIN-LEFT: 30px; BORDER-LEFT: #e5e5e5 1px solid
}
.articleshelp .cssright .cssright_h1 {
	FONT-SIZE: 12px; HEIGHT: 42px; FONT-FAMILY: "ËÎÌו"; BACKGROUND: url(../images/process/homeicon.gif) no-repeat 12px 3px; BORDER-BOTTOM: #eee 1px solid; FONT-WEIGHT: normal; COLOR: #666; PADDING-LEFT: 35px; LINE-HEIGHT: 42px
}
.articleshelp .cssright H2.cssright_h2 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #555555; TEXT-ALIGN: center; LINE-HEIGHT: 40px
}
.articleshelp .cssright .cssborder {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.articleshelp .cssright .csspage {
	HEIGHT: 40px; PADDING-BOTTOM: 10px; PADDING-TOP: 8px; PADDING-LEFT: 12px; LINE-HEIGHT: 40px
}
.article_list {
	BORDER-BOTTOM: #efefef 1px solid; COLOR: #888; MARGIN: 0px auto; LINE-HEIGHT: 30px
}
.article_list EM {
	FONT-SIZE: 11px; FONT-STYLE: normal
}
.article_list A {
	BACKGROUND: url(../images/process/help_center_icon.jpg) no-repeat left center; PADDING-LEFT: 10px
}
.article_list A:hover {
	BACKGROUND: url(../images/process/help_center_icon2.jpg) no-repeat left center; COLOR: #ff6600
}
.art_add_date {
	BORDER-BOTTOM: #e5e5e5 1px solid; PADDING-BOTTOM: 10px; TEXT-ALIGN: center
}
.art_add_c {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.article_xg_t {
	FONT-SIZE: 14px; BACKGROUND: #e5e5e5; FONT-WEIGHT: bold; COLOR: #555; PADDING-LEFT: 10px; LINE-HEIGHT: 30px
}
.article_xg_list {
	MARGIN-LEFT: 15px; MARGIN-TOP: 12px; MARGIN-RIGHT: 15px
}
.article_xg_name {
	PADDING-TOP: 5px
}
.article_xg_name A {
	COLOR: #666
}
.csspage_content {
	HEIGHT: 38px; BACKGROUND: #efefef; LINE-HEIGHT: 38px
}
.csspage_content B {
	FLOAT: left; PADDING-LEFT: 30px
}
.csspage_content DIV {
	FLOAT: right; FONT-WEIGHT: bold; PADDING-RIGHT: 20px
}
.notice_w {
	
}
.notice_w .notice_w_bs H2 {
	FONT-SIZE: 14px; HEIGHT: 30px; BACKGROUND: #e9f4fe; FONT-WEIGHT: bold; COLOR: #333; TEXT-ALIGN: center; PADDING-LEFT: 25px; LINE-HEIGHT: 30px
}
.notice_w .notice_w_bs H3 {
	BORDER-TOP: #ccdff2 1px solid; HEIGHT: 30px; COLOR: #666; TEXT-ALIGN: center; PADDING-LEFT: 25px; MARGIN-TOP: 2px; LINE-HEIGHT: 30px
}
.notice_w .notice_w_bs H4 {
	HEIGHT: 25px; PADDING-LEFT: 25px; LINE-HEIGHT: 25px
}
.notice_w .notice_w_bs H4 A {
	COLOR: #666
}
.notice_dh {
	HEIGHT: 25px; COLOR: #666; LINE-HEIGHT: 25px
}
.notice_dh A {
	COLOR: #cc0000
}
.notice_c {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px
}
.affiches_t {
	FONT-SIZE: 14px; HEIGHT: 30px; BACKGROUND: #e9f4fe; FONT-WEIGHT: bold; COLOR: #333; TEXT-ALIGN: center; PADDING-LEFT: 25px; LINE-HEIGHT: 30px
}
.allcategorylist {
	OVERFLOW: hidden; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; WIDTH: 888px; BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 20px; MARGIN: 0px auto; BORDER-LEFT: #e1e1e1 1px solid; PADDING-RIGHT: 20px
}
.allcategorylist A {
	COLOR: #3366cc
}
.allcategorylist BR {
	DISPLAY: none
}
.allcategorylist H4 {
	FONT-SIZE: 12px; HEIGHT: 30px; BORDER-BOTTOM: #e5e5e5 1px solid; FONT-WEIGHT: bold; COLOR: #3e3e3e; PADDING-LEFT: 10px; LINE-HEIGHT: 30px
}
.allcategorylist .categorylistfirst {
	FONT-SIZE: 14px; HEIGHT: 28px; FONT-WEIGHT: 700; CLEAR: both; MARGIN-TOP: 10px
}
.allcategorylist .categorylistfirst H2 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-LEFT: 10px; BORDER-LEFT: #b91313 4px solid; DISPLAY: block; LINE-HEIGHT: 25px
}
.allcategorylist .categorylistsecond {
	MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px
}
.allcategorylist .categorylistsecond UL {
	LIST-STYLE-TYPE: none; WIDTH: 890px; LIST-STYLE-IMAGE: none
}
.allcategorylist .categorylistsecond UL LI {
	LIST-STYLE-TYPE: none; WIDTH: 175px; FLOAT: left; LIST-STYLE-IMAGE: none
}
.allcategorylist .categorylistsecond B {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; DISPLAY: block
}
.allcategorylist .categorylistsecond A {
	WHITE-SPACE: nowrap; MARGIN-RIGHT: 2px
}
.input2 {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 20px; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 20px
}
.ForgotPW_pad {
	PADDING-BOTTOM: 0px; PADDING-TOP: 20px; PADDING-LEFT: 100px; PADDING-RIGHT: 100px
}
.Forgot_out {
	BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; WIDTH: 950px; BACKGROUND: url(../images/process/deputy_bg.gif) repeat-x 0px 0px; BORDER-BOTTOM: #e1e1e1 1px solid; COLOR: #333; MARGIN: 10px auto; BORDER-LEFT: #e1e1e1 1px solid; LINE-HEIGHT: 180%
}
.ForgotPW_icon {
	FONT-SIZE: 14px; BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.productSearch_titlebg {
	BACKGROUND: url(../images/process/productSearch_titlebg.jpg) repeat-x
}
.productSearch_w {
	BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid
}
.btnAdvSearch {
	CURSOR: hand; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 116px; BACKGROUND: url(../images/process/productSearch_sub1.jpg) no-repeat; BORDER-BOTTOM: 0px; FONT-WEIGHT: 700; COLOR: #fff; BORDER-LEFT: 0px
}
.btnAdvSearch2 {
	CURSOR: hand; BORDER-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT: 0px; WIDTH: 116px; BACKGROUND: url(../images/process/productSearch_sub2.jpg) no-repeat; BORDER-BOTTOM: 0px; FONT-WEIGHT: 700; COLOR: #fff; BORDER-LEFT: 0px
}
.vote_title_bg {
	HEIGHT: 32px; WIDTH: 958px; BACKGROUND: url(../images/process/vote_.gif) repeat-x 0px -68px; MARGIN: 0px auto
}
.vote_title_left {
	HEIGHT: 32px; WIDTH: 160px; BACKGROUND: url(../images/process/vote_.gif) no-repeat -42px -3px; FLOAT: left
}
.vote_title_right {
	HEIGHT: 32px; WIDTH: 6px; BACKGROUND: url(../images/process/vote_.gif) no-repeat -211px -3px; FLOAT: right
}
.vote_con {
	BORDER-TOP: 0px; BORDER-RIGHT: #cdcdcd 1px solid; WIDTH: 956px; BORDER-BOTTOM: 0px; CLEAR: both; MARGIN: 0px auto; BORDER-LEFT: #cdcdcd 1px solid
}
.vote_con_img {
	WIDTH: 293px; FLOAT: left
}
.vote_con_vote {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px
}
.vote_cont_title {
	FONT-SIZE: 14px; FONT-WEIGHT: 700; COLOR: #fe4a0b
}
.vote_bottom_bg {
	HEIGHT: 4px; WIDTH: 958px; BACKGROUND: url(../images/process/vote_.gif) repeat-x 0px -55px; CLEAR: both; MARGIN: 0px auto
}
.vote_bottom_left {
	HEIGHT: 4px; WIDTH: 10px; BACKGROUND: url(../images/process/vote_.gif) no-repeat -4px -6px; FLOAT: left
}
.vote_bottom_right {
	HEIGHT: 4px; WIDTH: 5px; BACKGROUND: url(../images/process/vote_.gif) no-repeat -14px -6px; FLOAT: right
}
.clearboth {
	CLEAR: both
}
.choose_pro_tab_brand {
	
}
.brand_detail_fix {
	WIDTH: 1055px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px
}
.choose_pro_tab_brand UL {
	LIST-STYLE-TYPE: none; WIDTH: 1295px; LIST-STYLE-IMAGE: none
}
.choose_pro_tab_brand UL.brand_detail_pinpai {
	WIDTH: 1080px
}
.choose_pro_tab_brand LI {
	HEIGHT: 94px; WIDTH: 120px; FLOAT: left; TEXT-ALIGN: center; MARGIN: 16px 9px 0px 0px; DISPLAY: inline
}
.choose_pro_tab_brand LI IMG {
	MAX-WIDTH: 115px; MIN-HEIGHT: 60px; MARGIN-TOP: 4px; MAX-HEIGHT: 60px
}
.brand_othermore {
	MARGIN-BOTTOM: 2px; HEIGHT: 28px; BACKGROUND: #f5f5f5; COLOR: #888; PADDING-LEFT: 10px; LINE-HEIGHT: 28px
}
.brandimg {
	HEIGHT: 60px; WIDTH: 115px
}
.choose_pro_tab_brandm {
	
}
.choose_pro_tab_brandm UL {
	LIST-STYLE-TYPE: none; WIDTH: 1080px; LIST-STYLE-IMAGE: none
}
.choose_pro_tab_brandm LI {
	HEIGHT: 62px; WIDTH: 113px; FLOAT: left; TEXT-ALIGN: center; MARGIN: 16px 12px 0px 0px; DISPLAY: inline
}
.choose_pro_tab_brandm LI IMG {
	MAX-WIDTH: 100px; MIN-HEIGHT: 34px; MARGIN-TOP: 4px; MAX-HEIGHT: 34px
}
.brand_othermore1 {
	MARGIN-BOTTOM: 2px; HEIGHT: 28px; BACKGROUND: #f5f5f5; COLOR: #888; PADDING-LEFT: 10px; LINE-HEIGHT: 28px
}
.message_nav {
	HEIGHT: 30px; BORDER-BOTTOM: #dad6d7 1px solid; COLOR: #606060; PADDING-LEFT: 8px; LINE-HEIGHT: 30px
}
.message_nav A {
	FONT-WEIGHT: bold; COLOR: #379300
}
.message_tishiwrong {
	OVERFLOW: hidden; WIDTH: 760px; MARGIN: 3px auto
}
.message_list_tab {
	OVERFLOW: hidden; WIDTH: 760px; MARGIN: 0px auto
}
.message_list_t {
	FONT-SIZE: 14px; HEIGHT: 30px; BACKGROUND: #f7f7f7; FONT-WEIGHT: bold; COLOR: #000000; PADDING-LEFT: 10px; LINE-HEIGHT: 30px
}
.message_list_c {
	BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; WIDTH: 758px; BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid
}
.message_pages {
	OVERFLOW: hidden; WIDTH: 730px; MARGIN: 10px auto 0px; PADDING-RIGHT: 30px
}
.message_list_c1 {
	OVERFLOW: hidden; WIDTH: 740px; BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 6px; MARGIN: 0px auto; LINE-HEIGHT: 25px
}
.message_list_ask {
	BACKGROUND: url(../images/process/messages_dashline1.jpg) repeat-x 50% bottom; COLOR: #494949; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; MARGIN-TOP: 10px; PADDING-RIGHT: 8px
}
.message_list_ask B {
	COLOR: #e10b0b; MARGIN-RIGHT: 5px
}
.message_list_answer {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; MARGIN-TOP: 5px; PADDING-RIGHT: 8px
}
.message_list_answer B {
	COLOR: #3a9100; MARGIN-RIGHT: 5px
}
.message_list_time {
	FONT-SIZE: 10px; COLOR: #888888; TEXT-ALIGN: right; LINE-HEIGHT: 20px
}
.message_add_tab {
	FONT-SIZE: 14px; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; WIDTH: 760px; BORDER-BOTTOM: #e1e1e1 1px solid; COLOR: #777777; MARGIN: 15px auto; BORDER-LEFT: #e1e1e1 1px solid
}
.btn_sub {
	CURSOR: pointer; BORDER-TOP: 0px; HEIGHT: 30px; BORDER-RIGHT: 0px; WIDTH: 87px; BACKGROUND: url(../images/process/login_quick_sub.jpg) no-repeat; BORDER-BOTTOM: 0px; FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-ALIGN: center; BORDER-LEFT: 0px; DISPLAY: block; LINE-HEIGHT: 30px
}
.btn_sub:hover {
	TEXT-DECORATION: none; COLOR: #ffffff
}
.registeragreement_fx {
	BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; WIDTH: 860px; BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 20px; MARGIN: 15px auto 0px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-RIGHT: 20px
}
.registeragreement_fx H4.martb {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; MARGIN-TOP: 10px
}
.agreement_bd {
	OVERFLOW: hidden; WIDTH: 820px; WORD-BREAK: break-all; MARGIN: 10px auto
}
.Skin_RegisterInfo_w {
	WIDTH: 100%; MARGIN-TOP: 10px
}
.Skin_RegisterInfo_row {
	FONT-SIZE: 14px; COLOR: #666; LINE-HEIGHT: 30px
}
.Skin_RegisterInfo_row LI {
	FLOAT: left
}
.Skin_RegisterInfo_row .title {
	WIDTH: 120px; PADDING-LEFT: 20px
}
.Skin_RegisterInfo_row INPUT {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 25px; BORDER-RIGHT: #ddd 1px solid; WIDTH: 240px; BACKGROUND: url(../images/process/inputbj.gif) no-repeat; BORDER-BOTTOM: #ddd 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 25px
}
#registerAgreement_div_Common_Register_Clause {
	WIDTH: 700px; MARGIN: 0px auto
}
.regstepalert {
	COLOR: #f30; PADDING-LEFT: 20px; MARGIN-TOP: 15px
}
.regimgDiv {
	FONT-SIZE: 14px; FLOAT: left; PADDING-LEFT: 30px
}
.registerAgreement_step3 {
	FONT-SIZE: 14px; FLOAT: left; PADDING-LEFT: 30px
}
.regimgDiv {
	MARGIN-BOTTOM: 20px; FONT-SIZE: 16px; FONT-WEIGHT: 700; COLOR: #ff3300
}
.registerAgreement_step3 DIV {
	MARGIN-BOTTOM: 20px; FONT-SIZE: 16px; FONT-WEIGHT: 700; COLOR: #ff3300
}
.buy_qq_notice {
	FONT-SIZE: 14px; COLOR: #ff0000; TEXT-ALIGN: center; LINE-HEIGHT: 40px
}
.buy_qq_notice B {
	COLOR: #ff3300
}
.loginTaobao {
	FLOAT: left; MARGIN: 10px 10px 0px
}
.loginTaobao LABEL {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; LINE-HEIGHT: 24px; TEXT-INDENT: 0em
}
.loginTaobao UL {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BACKGROUND: #efefef; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 40px; BORDER-LEFT: #ccc 1px solid; PADDING-RIGHT: 40px
}
.dialog {
	FONT-SIZE: 12px; BORDER-TOP: #badbf2 1px solid; HEIGHT: 115px; BORDER-RIGHT: #badbf2 1px solid; WIDTH: 305px; BORDER-BOTTOM: #badbf2 1px solid; POSITION: absolute; COLOR: #2c71cd; BORDER-LEFT: #badbf2 1px solid; Z-INDEX: 3; DISPLAY: none; BACKGROUND-COLOR: #ffffff
}
.dialog_title {
	HEIGHT: 20px; WIDTH: 295px; MARGIN: 0px 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #edf7fd
}
.dialog_title_l {
	HEIGHT: 18px; FLOAT: left; FONT-WEIGHT: 700; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.dialog_title_l IMG {
	MARGIN-TOP: 0px
}
.dialog_title_r {
	CURSOR: pointer; BORDER-TOP: #fa6400 1px solid; HEIGHT: 14px; FONT-FAMILY: Arial Black; BORDER-RIGHT: #fa6400 1px solid; WIDTH: 14px; BACKGROUND: #ff9955 0px 0px; BORDER-BOTTOM: #fa6400 1px solid; FLOAT: right; FONT-WEIGHT: 700; COLOR: #ffffff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #fa6400 1px solid; MARGIN-TOP: 2px; LINE-HEIGHT: 14px; PADDING-RIGHT: 0px
}
.dialog_cartitem {
	HEIGHT: 70px; WIDTH: 295px; TEXT-ALIGN: center; PADDING-LEFT: 0px; MARGIN: 10px 5px; LINE-HEIGHT: 15px
}
.btnbar {
	WIDTH: 275px; MARGIN: 15px 10px 0px
}
.btn-viewcart {
	CURSOR: hand; HEIGHT: 22px; WIDTH: 77px; BACKGROUND: url(../images/process/btn-viewcart.gif) 0px 0px; FLOAT: left; MARGIN-LEFT: 60px; MARGIN-RIGHT: 10px
}
.btn-continue {
	CURSOR: hand; HEIGHT: 22px; WIDTH: 66px; BACKGROUND: url(../images/process/btn-continue.gif) 0px 0px; FLOAT: left
}
.btn-send {
	BACKGROUND: url(../images/process/btn_ginfo_links.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 18px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.login_tan {
	HEIGHT: 250px; WIDTH: 439px; BACKGROUND: url(../images/process/tang_bg.gif) no-repeat; POSITION: absolute; LEFT: 450px; Z-INDEX: 99999; TOP: 400px
}
.login_tan TABLE {
	FONT-SIZE: 14px; WIDTH: 439px; LINE-HEIGHT: 30px
}
.login_tan A {
	COLOR: #0b5ba5
}
.login_tan_input1 {
	BORDER-TOP: 0px; HEIGHT: 26px; BORDER-RIGHT: 0px; WIDTH: 175px; BACKGROUND: url(../images/process/tancu_07.gif) no-repeat; BORDER-BOTTOM: 0px; PADDING-LEFT: 25px; BORDER-LEFT: 0px; LINE-HEIGHT: 26px
}
.login_tan_input2 {
	BORDER-TOP: 0px; HEIGHT: 26px; BORDER-RIGHT: 0px; WIDTH: 175px; BACKGROUND: url(../images/process/tancu_10.gif) no-repeat; BORDER-BOTTOM: 0px; PADDING-LEFT: 25px; BORDER-LEFT: 0px; LINE-HEIGHT: 26px
}
.login_tan_input3 {
	CURSOR: pointer; BORDER-TOP: 0px; HEIGHT: 27px; BORDER-RIGHT: 0px; WIDTH: 77px; BACKGROUND: url(../images/process/tancu_12.gif) no-repeat; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
#imgCloseLogin {
	CURSOR: pointer
}
.tab_sales {
	BORDER-TOP: #e0dcce 1px solid; BORDER-RIGHT: #e0dcce 1px solid; WIDTH: 100%; BORDER-BOTTOM: medium none; COLOR: #333; BORDER-LEFT: #e0dcce 1px solid
}
.tab_sales TD {
	BORDER-BOTTOM: #e0dcce 1px solid; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px
}
.tr_head {
	HEIGHT: 16px; BACKGROUND: url(../images/process/bg.gif) repeat-x 0px -389px; FONT-WEIGHT: 700; COLOR: #5c4a35; LINE-HEIGHT: 16px
}
.core_cartdetile_th TH {
	BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; BACKGROUND: #f5f5ed; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: #e5e5e5 1px solid; FONT-WEIGHT: normal; COLOR: #444444; TEXT-ALIGN: center; BORDER-LEFT: #e5e5e5 1px solid; LINE-HEIGHT: 30px
}
.core_cartdetile TD {
	HEIGHT: 80px; BORDER-BOTTOM: #d7d7d7 1px solid; TEXT-ALIGN: center
}
.core_gifts_tab {
	BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 20px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-RIGHT: 20px
}
.core_gifts_bline {
	OVERFLOW: hidden; HEIGHT: 1px; BACKGROUND: #e9e9e9
}
.core_gifts_jiesuan {
	WIDTH: 980px; COLOR: #333333
}
.core_giftlist_name {
	LINE-HEIGHT: 18px
}
.core_giftlist_price {
	HEIGHT: 24px; LINE-HEIGHT: 24px
}
.core_giftlist_price B {
	COLOR: #ff0000; MARGIN-RIGHT: 10px
}
.core_giftlist_price SPAN {
	COLOR: #3468cd
}
.core_giftlist_sub {
	
}
.core_gifts_list {
	MARGIN-TOP: 5px
}
.clear_buycart {
	FLOAT: left; MARGIN-RIGHT: 580px
}
.jiesuan_buycartinfo {
	FLOAT: left
}
.jiesuan_buycartinfo SPAN {
	MARGIN-LEFT: 10px
}
.core_giftslist {
	MARGIN-BOTTOM: 10px
}
.core_gifimg {
	PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px
}
.core_giftprice {
	FONT-SIZE: 14px; COLOR: #b91313
}
.core_giftprice2 {
	FONT-SIZE: 12px; COLOR: #ef0000
}
.core_giftprice2 A {
	COLOR: #3366cc; MARGIN-LEFT: 10px
}
.core_giftprice3 A {
	COLOR: #3366cc; MARGIN-LEFT: 10px
}
.core_giftprice3 {
	FONT-SIZE: 14px; FONT-WEIGHT: 700; COLOR: #b90000
}
.core_buy_cartsub {
	MARGIN-TOP: 6px
}
.core_buy_cartsub A {
	MARGIN-RIGHT: 10px
}
.core_cartname {
	POSITION: relative
}
.core_cartname .core_cartmessage {
	FONT-SIZE: 12px; POSITION: absolute; FONT-WEIGHT: normal; LEFT: 163px; TOP: 12px
}
.core_cartbtn {
	OVERFLOW: hidden; TEXT-ALIGN: right
}
.cart_txtbuynum {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 18px; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 18px
}
.cart_conbtn {
	CURSOR: pointer; BORDER-TOP: 0px; HEIGHT: 40px; BORDER-RIGHT: 0px; WIDTH: 96px; BACKGROUND: url(../images/core/process/conbtn.gif) no-repeat; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
.cart_chekout {
	CURSOR: pointer; BORDER-TOP: 0px; HEIGHT: 40px; BORDER-RIGHT: 0px; WIDTH: 96px; BACKGROUND: url(../images/core/process/chekout.gif) no-repeat; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
.cart_update {
	CURSOR: pointer; BORDER-TOP: 0px; HEIGHT: 24px; BORDER-RIGHT: 0px; WIDTH: 39px; BACKGROUND: url(../images/core/process/update.gif) no-repeat; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
.core_layout_logo {
	OVERFLOW: hidden; WIDTH: 980px
}
.cart_top_info {
	OVERFLOW: hidden; WIDTH: 980px; CLEAR: both; MARGIN-TOP: 5px
}
.cart_top_info1 {
	FLOAT: right; COLOR: #676767; LINE-HEIGHT: 23px; MARGIN-RIGHT: 10px
}
.cart_top_info1 A {
	COLOR: #676767
}
.cart_top_info1 .login_logout {
	COLOR: #ff0000
}
.cart_top_info1 .login_logout A {
	COLOR: #ff0000
}
.cart_top_info1 .color_red1 {
	FONT-WEIGHT: 700; COLOR: #ff0000
}
.cart_top_info1 IMG {
	WIDTH: 120px; VERTICAL-ALIGN: middle
}
.cart_top_info2 {
	WIDTH: 80px; FLOAT: right; COLOR: #0066cc; TEXT-ALIGN: right; LINE-HEIGHT: 23px
}
.cart_top_info2 A {
	WIDTH: 80px; FLOAT: right; COLOR: #0066cc; TEXT-ALIGN: right; LINE-HEIGHT: 23px
}
.core_form2 {
	OVERFLOW: hidden; WIDTH: 980px; MARGIN: 0px auto
}
.core_sku_tab {
	BORDER-TOP: #a00000 1px solid; HEIGHT: 22px; BORDER-RIGHT: #a00000 1px solid; BACKGROUND: #fefecc; BORDER-BOTTOM: #a00000 1px solid; COLOR: #333333; BORDER-LEFT: #a00000 1px solid; LINE-HEIGHT: 22px
}
.core_sku_tab SPAN {
	COLOR: #9f0000; MARGIN-LEFT: 10px
}
.core_sku_input {
	BORDER-TOP: #d6d7d1 1px solid; HEIGHT: 18px; BORDER-RIGHT: #d6d7d1 1px solid; WIDTH: 198px; BORDER-BOTTOM: #d6d7d1 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #d6d7d1 1px solid; LINE-HEIGHT: 18px; PADDING-RIGHT: 2px
}
.core_sku_submit {
	CURSOR: pointer; FONT-SIZE: 12px; BORDER-TOP: 0px; HEIGHT: 24px; BORDER-RIGHT: 0px; WIDTH: 107px; BACKGROUND: url(../images/core/process/buy_cart_18.jpg) no-repeat; BORDER-BOTTOM: 0px; COLOR: #ffffff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 24px; PADDING-RIGHT: 0px
}
.core_shippingmodetable {
	MARGIN-BOTTOM: 10px
}
.core_shippingmodetable TH {
	FONT-SIZE: 12px; BORDER-TOP: medium none; HEIGHT: 40px; BORDER-RIGHT: medium none; BACKGROUND: #f3f3f3; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; TEXT-ALIGN: left; BORDER-LEFT: medium none; LINE-HEIGHT: 40px; TEXT-INDENT: 2em
}
.core_shippingmodetable TD {
	FONT-SIZE: 12px; BORDER-TOP: medium none; HEIGHT: 40px; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; TEXT-ALIGN: left; BORDER-LEFT: medium none; LINE-HEIGHT: 40px; TEXT-INDENT: 2em
}
.core_orderdetile {
	
}
.core_orderdetile TH {
	BACKGROUND: #f5f5ed; FONT-WEIGHT: normal; COLOR: #333333; PADDING-BOTTOM: 2px; TEXT-ALIGN: left; PADDING-TOP: 2px; PADDING-LEFT: 20px; LINE-HEIGHT: 25px; PADDING-RIGHT: 2px
}
.core_orderdetile TD {
	VERTICAL-ALIGN: top; COLOR: #656565; PADDING-BOTTOM: 2px; TEXT-ALIGN: left; PADDING-TOP: 8px; PADDING-LEFT: 20px; LINE-HEIGHT: 20px; PADDING-RIGHT: 2px
}
.core_order_info_addressc2 UL LI {
	HEIGHT: 30px
}
.core_order_info_addressc2 SPAN.itemname {
	FONT-SIZE: 12px; HEIGHT: 24px; WIDTH: 70px; FLOAT: left; DISPLAY: block; LINE-HEIGHT: 24px
}
.core_order_info_addressc2 SPAN.iteminput {
	FLOAT: left; DISPLAY: block; LINE-HEIGHT: 20px
}
.core_order_info_addressc2 SPAN.validateimg {
	FLOAT: left; PADDING-LEFT: 10px; DISPLAY: block
}
.core_order_info_addressc2 INPUT.textform {
	FONT-SIZE: 12px; BORDER-TOP: #c7c7c7 1px solid; HEIGHT: 20px; BORDER-RIGHT: #c7c7c7 1px solid; WIDTH: 208px; BACKGROUND: url(../images/core/Process/inputbg.png) repeat-x left top; BORDER-BOTTOM: #c7c7c7 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #c7c7c7 1px solid; LINE-HEIGHT: 20px
}
.core_order_info_addressc2 INPUT.validatetext {
	WIDTH: 80px
}
.core_order_info_addressc2 SPAN.validate {
	OVERFLOW: hidden; HEIGHT: 28px; WIDTH: 250px; FLOAT: left; MARGIN-LEFT: 8px; DISPLAY: block; LINE-HEIGHT: 28px
}
.core_order_info_addressc2 SPAN.validate BR {
	DISPLAY: none
}
.core_cartWeight {
	TEXT-ALIGN: right
}
.core_order_info_tab {
	BORDER-TOP: #dcdfe6 1px solid; BORDER-RIGHT: #dcdfe6 1px solid; BORDER-BOTTOM: #dcdfe6 1px solid; COLOR: #646464; PADDING-BOTTOM: 16px; PADDING-TOP: 16px; PADDING-LEFT: 16px; BORDER-LEFT: #dcdfe6 1px solid; PADDING-RIGHT: 16px
}
.core_order_info_tab H3 {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; FONT-WEIGHT: 700; COLOR: #656565
}
.core_order_info_address {
	BACKGROUND: #fafafa; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px
}
.core_order_info_addressc {
	BACKGROUND: url(../images/core/process/submit_order_dashedline.jpg) repeat-x 50% bottom; LINE-HEIGHT: 30px
}
.core_order_info_addressc2 {
	PADDING-TOP: 15px; PADDING-LEFT: 15px
}
.submit_dashline2 {
	BACKGROUND: url(../images/core/process/submit_dashline2.jpg) repeat-x 50% bottom; PADDING-BOTTOM: 5px
}
.submit_part3 {
	OVERFLOW: hidden; PADDING-TOP: 5px
}
.submit_part3_l {
	OVERFLOW: hidden; WIDTH: 537px; FLOAT: left
}
.submit_part3_r {
	OVERFLOW: hidden; WIDTH: 380px; FLOAT: left
}
.submit_part3_linfo1 {
	FONT-WEIGHT: 700; LINE-HEIGHT: 30px
}
.submit_part3_linfo1 .input_1 {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.submit_part3_linfo2 {
	PADDING-LEFT: 8px; MARGIN-TOP: 12px
}
.youhui_btn_sub {
	CURSOR: pointer; FONT-SIZE: 12px; BORDER-TOP: 0px; HEIGHT: 22px; BORDER-RIGHT: 0px; WIDTH: 79px; BACKGROUND: url(../images/core/process/submit_order_55.jpg) no-repeat; BORDER-BOTTOM: 0px; COLOR: #746816; BORDER-LEFT: 0px
}
.youhui_btn_input {
	BORDER-TOP: #b8bfd1 1px solid; HEIGHT: 18px; BORDER-RIGHT: #b8bfd1 1px solid; WIDTH: 100px; BORDER-BOTTOM: #b8bfd1 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; BORDER-LEFT: #b8bfd1 1px solid; LINE-HEIGHT: 18px; PADDING-RIGHT: 2px
}
.color_A30 {
	COLOR: #a40200
}
.color_A30 A {
	COLOR: #a40200
}
.color_FE0 {
	COLOR: #fe0000
}
.color_FE0 A {
	COLOR: #fe0000
}
.color_36c {
	COLOR: #36c
}
.color_36c A {
	COLOR: #36c
}
.color_F60 {
	COLOR: #ff6600
}
.color_F60 A {
	COLOR: #ff6600
}
.color_83 {
	COLOR: #838383
}
.color_83 A {
	COLOR: #838383
}
.color_746919 {
	COLOR: #746919
}
.font14 {
	FONT-SIZE: 14px
}
.font12 {
	FONT-SIZE: 12px
}
.color_4_line_b {
	CURSOR: pointer; TEXT-DECORATION: underline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; BACKGROUND: #fff; BORDER-BOTTOM: 0px; COLOR: #444444; BORDER-LEFT: 0px
}
.color_4_line_b A {
	CURSOR: pointer; TEXT-DECORATION: underline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; BACKGROUND: #fff; BORDER-BOTTOM: 0px; COLOR: #444444; BORDER-LEFT: 0px
}
.comon_submmitorder_address {
	MARGIN: 12px
}
.comon_submmitorder_address2 {
	MARGIN-BOTTOM: 10px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #ccc 1px solid; DISPLAY: none; PADDING-RIGHT: 10px
}
.OrderSubmit_2dx {
	TEXT-ALIGN: right; PADDING-RIGHT: 20px
}
.OrderSubmit_2dx A {
	FONT-SIZE: 12px; FONT-WEIGHT: 700; COLOR: #666
}
.core_order_tab_sub {
	PADDING-LEFT: 540px
}
.core_order_message_area {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 38px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 286px; BACKGROUND: #fafafa; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.core_orderbutton {
	CURSOR: pointer; FONT-SIZE: 14px; BORDER-TOP: 0px; HEIGHT: 31px; BORDER-RIGHT: 0px; WIDTH: 116px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/core/Process/submit_order_65.jpg) no-repeat; BORDER-BOTTOM: 0px; FONT-WEIGHT: 700; COLOR: white; MARGIN-LEFT: 10px; BORDER-LEFT: 0px
}
.core_order_pay_sub {
	CURSOR: pointer; FONT-SIZE: 14px; BORDER-TOP: 0px; HEIGHT: 32px; BORDER-RIGHT: 0px; WIDTH: 90px; BACKGROUND: url(../images/core/Process/btn_bg_2.gif) no-repeat; BORDER-BOTTOM: 0px; FONT-WEIGHT: 700; COLOR: white; BORDER-LEFT: 0px
}
.core_orderpay {
	BORDER-TOP: #f5f5ed 5px solid; BORDER-RIGHT: #f5f5ed 5px solid; WIDTH: 670px; BORDER-BOTTOM: #f5f5ed 5px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 18px; MARGIN: 0px auto; BORDER-LEFT: #f5f5ed 5px solid; PADDING-RIGHT: 18px
}
.core_orderpay H2 {
	FONT-SIZE: 14px; FONT-WEIGHT: 700; COLOR: #2d2d2d
}
.core_orderpay_c {
	FONT-SIZE: 14px; COLOR: #616161; MARGIN-TOP: 9px; LINE-HEIGHT: 31px
}
.re_blogit_tab {
	BORDER-TOP: #f5f5ed 5px solid; BORDER-RIGHT: #f5f5ed 5px solid; WIDTH: 910px; BORDER-BOTTOM: #f5f5ed 5px solid; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 15px; MARGIN: 0px auto; BORDER-LEFT: #f5f5ed 5px solid; PADDING-RIGHT: 15px
}
.re_blogit_pro_t {
	FONT-SIZE: 14px; HEIGHT: 30px; COLOR: #2c2c2c; PADDING-BOTTOM: 10px
}
.re_blogit_pro_t A {
	FONT-SIZE: 14px; HEIGHT: 30px; COLOR: #2c2c2c; PADDING-BOTTOM: 10px
}
.re_blogit_pro_area1 {
	BORDER-TOP: #eee0d3 1px solid; BORDER-RIGHT: #eee0d3 1px solid; BACKGROUND: #f8f5f0; BORDER-BOTTOM: #eee0d3 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #eee0d3 1px solid; PADDING-RIGHT: 10px
}
.re_blogit_pro_area2 {
	BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid; BACKGROUND: #f8f8f8; BORDER-BOTTOM: #e7e7e7 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #e7e7e7 1px solid; PADDING-RIGHT: 10px
}
.re_blogit_pro_pict {
	COLOR: #626262; PADDING-BOTTOM: 10px
}
.re_blogit_pro_pict IMG {
	MARGIN-RIGHT: 10px
}
.blogit_subbg {
	CURSOR: pointer; BORDER-TOP: #c4c5a6 1px solid; BORDER-RIGHT: #c4c5a6 1px solid; WIDTH: 50px; BACKGROUND: url(../images/process/blogit_subbg.jpg) repeat-x; BORDER-BOTTOM: #c4c5a6 1px solid; COLOR: #646716; TEXT-ALIGN: center; BORDER-LEFT: #c4c5a6 1px solid; LINE-HEIGHT: 20px
}
.blogit_bottom_line1 {
	BORDER-BOTTOM: #e7e7e7 1px solid; COLOR: #656565; LINE-HEIGHT: 30px
}
.re_friend_tab {
	BORDER-TOP: #f5f5ed 5px solid; BORDER-RIGHT: #f5f5ed 5px solid; WIDTH: 860px; BORDER-BOTTOM: #f5f5ed 5px solid; PADDING-BOTTOM: 24px; PADDING-TOP: 15px; PADDING-LEFT: 15px; MARGIN: 0px auto; BORDER-LEFT: #f5f5ed 5px solid; PADDING-RIGHT: 15px
}
.re_productreviews_h2 {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; HEIGHT: 30px; BORDER-BOTTOM: #e7e7e7 1px solid; FONT-WEIGHT: bold; LINE-HEIGHT: 30px
}
.re_productreviews_tabc {
	LINE-HEIGHT: 30px
}
.re_productreviews_tabc .inpnt {
	BORDER-TOP: #dddddd 1px solid; HEIGHT: 22px; BORDER-RIGHT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; LINE-HEIGHT: 22px
}
.product_reviews_list {
	BACKGROUND: url(../images/process/messages_dashline1.jpg) repeat-x 50% bottom; PADDING-BOTTOM: 10px; MARGIN-TOP: 8px
}
.product_reviews_time {
	FONT-SIZE: 10px; WHITE-SPACE: nowrap; COLOR: #888; MARGIN-LEFT: 10px
}
.product_reviews_pages {
	MARGIN-TOP: 18px
}
.product_reviews_list_ask {
	BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.product_reviews_list_re {
	BACKGROUND: #f5f5f5; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.color_re_red {
	COLOR: #e10b0b
}
.color_re_green {
	COLOR: #3a9100
}
.product_attri_tab {
	WIDTH: 350px; BACKGROUND: #f5f5f5; FLOAT: left; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; MARGIN-RIGHT: 2px
}
.choose_pro_tab_brand2 LI {
	HEIGHT: 28px; WHITE-SPACE: nowrap; LINE-HEIGHT: 28px
}
#xinren_Frame {
	POSITION: relative; COLOR: #cc0000; Z-INDEX: 20
}
#xinren_Frame EM {
	CURSOR: pointer; BACKGROUND: url(../images/thridparty1.gif) no-repeat left center; FONT-STYLE: normal; PADDING-TOP: 2px; PADDING-LEFT: 20px
}
#xinren_tab {
	BORDER-TOP: #e5e5e5 2px solid; BORDER-RIGHT: #e5e5e5 2px solid; WIDTH: 130px; BACKGROUND: white; BORDER-BOTTOM: #e5e5e5 2px solid; POSITION: absolute; PADDING-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 15px; LEFT: -30px; BORDER-LEFT: #e5e5e5 2px solid; Z-INDEX: 100; DISPLAY: none; TOP: 15px; PADDING-RIGHT: 15px
}
#xinren_tab IMG {
	MARGIN-TOP: 3px
}
.xinren_tab_tishi {
	COLOR: #888; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px
}
.SKUUNSelectValueClass {
	CURSOR: not-allowed; BORDER-TOP: #d6d6d8 1px dashed; HEIGHT: 25px; BORDER-RIGHT: #d6d6d8 1px dashed; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: #d6d6d8 1px dashed; FLOAT: left; COLOR: #cdcdcd; OUTLINE-WIDTH: medium; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; OUTLINE-STYLE: none; PADDING-LEFT: 5px; BORDER-LEFT: #d6d6d8 1px dashed; DISPLAY: block; OUTLINE-COLOR: invert; LINE-HEIGHT: 25px; PADDING-RIGHT: 5px; MARGIN-RIGHT: 10px
}
.SKUSelectValueClass {
	CURSOR: pointer; TEXT-DECORATION: none; BORDER-TOP: #ff6701 1px solid; HEIGHT: 25px; BORDER-RIGHT: #ff6701 1px solid; BACKGROUND: url(pics/decorate_v3.gif) #fff no-repeat right bottom; BORDER-BOTTOM: #ff6701 1px solid; FLOAT: left; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 5px; BORDER-LEFT: #ff6701 1px solid; DISPLAY: block; LINE-HEIGHT: 25px; PADDING-RIGHT: 5px; MARGIN-RIGHT: 10px
}
.SKUValueClass {
	CURSOR: pointer; BORDER-TOP: #c8c9cd 1px double; HEIGHT: 25px; BORDER-RIGHT: #c8c9cd 1px double; BACKGROUND: #fff; BORDER-BOTTOM: #c8c9cd 1px double; FLOAT: left; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 5px; BORDER-LEFT: #c8c9cd 1px double; DISPLAY: block; LINE-HEIGHT: 25px; PADDING-RIGHT: 5px; MARGIN-RIGHT: 10px
}
INPUT.SKUValueClass:hover {
	BORDER-TOP: #c30008 1px solid; BORDER-RIGHT: #c30008 1px solid; BORDER-BOTTOM: #c30008 1px solid; BORDER-LEFT: #c30008 1px solid
}
.mobile {
	CURSOR: pointer; BACKGROUND: url(../images/mobile.png) no-repeat 0px 0px; COLOR: #696969; PADDING-BOTTOM: 2px; PADDING-LEFT: 18px; LINE-HEIGHT: 22px
}
